{% extends 'template.html' %}
{% block content %}
	<h2>Welcome to the Flask Blog!</h2>
	<h3>Please log in to access your blog:</h3>
		<form action="" method="post" >
			<div>
				<label for="name"> Username: </label>
				<input type="text" name="username" id="username" value="{{ request.form.username }}" ></input>
			</div>
			<div>
				<label for="mail"> Password: </label>
				<input type="password" name="password" id="password" value="{{ request.form.password }}"></input>
			</div>
			<div>
				<button type="submit"> Log in </button>
			</div>
		</form>
{% endblock %}